<nav class="navbar navbar-expand-md navbar-light bg-light px-2">

  <a class="navbar-brand" href="/">{{ metadata.title }}</a>
  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} active{% endif %}">
          <a class="nav-link" href="{{ entry.url | url }}">
            {{ entry.title }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>